# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
### your code is here
len(cars["Model"].unique())

3608

group by the data by the Make  using count function

In [5]:
### your code us here
cars.groupby("Make").count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [6]:
### your code us here
Mile = 1.60934
Gallon = 3.78541
cars["City MPG"] = cars["City MPG"].apply(lambda x: round(x / Gallon * Mile))
cars["Highway MPG"] = cars["Highway MPG"].apply(lambda x: round(x / Gallon * Mile))
cars["Combined MPG"] = cars["Combined MPG"].apply(lambda x: round(x / Gallon * Mile))

In [7]:
cars.rename(columns={"City MPG": "City KPL", "Highway MPG": "Highway KPL", "Combined MPG": "Combined KPL", "CO2 Emission Grams/Mile": "CO2 Emission Grams/KM"}, inplace = True)

In [8]:
model_by_maker = cars.groupby("Make")[["Model"]].count()
model_by_maker

                             Model
Make
AM General                       4
ASC Incorporated                 1
Acura                          302
Alfa Romeo                      41
American Motors Corporation     22
...                            ...
Volkswagen                    1047
Volvo                          717
Wallace Environmental           32
Yugo                             8
smart                           20

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand

In [9]:
### your code us here
cars["CO2 Emission Grams/KM"] = cars["CO2 Emission Grams/KM"].apply(lambda x: round(x/1.60934))
cars.groupby("Make")[["CO2 Emission Grams/KM"]].mean()

                             CO2 Emission Grams/KM
Make
AM General                              380.000000
ASC Incorporated                        345.000000
Acura                                   262.619205
Alfa Romeo                              288.439024
American Motors Corporation             314.363636
...                                            ...
Volkswagen                              244.054441
Volvo                                   270.853556
Wallace Environmental                   408.937500
Yugo                                    221.125000
smart                                   153.350000

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [23]:
### your code us here
cars.groupby("Make")[["CO2 Emission Grams/KM"]].mean().sort_values(by= "CO2 Emission Grams/KM")

                                    CO2 Emission Grams/KM
Make
Fisker                                         105.000000
smart                                          153.350000
Fiat                                           189.232558
Daihatsu                                       192.705882
MINI                                           194.896875
...                                                   ...
Laforza Automobile Inc                         502.000000
Bugatti                                        542.250000
Superior Coaches Div E.p. Dutton               552.000000
S and S Coach Company  E.p. Dutton             552.000000
Vector                                         652.000000

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [11]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [56]:
## your code here
pd.cut(cars["Year"], bins = 4)

0        (1983.967, 1992.25]
1        (1983.967, 1992.25]
2        (1983.967, 1992.25]
3        (1983.967, 1992.25]
4        (1983.967, 1992.25]
                ...
35947      (2008.75, 2017.0]
35948      (2008.75, 2017.0]
35949      (2008.75, 2017.0]
35950      (2008.75, 2017.0]
35951      (2008.75, 2017.0]
Name: Year, Length: 35952, dtype: category
Categories (4, interval[float64, right]): [(1983.967, 1992.25] < (1992.25, 2000.5] < (2000.5, 2008.75] < (2008.75, 2017.0]]

In [75]:

cars_by_year = cars.groupby(['Make', pd.cut(cars["Year"], bins = 4)])
cars_by_year.size().unstack()

Year,"(1983.967, 1992.25]","(1992.25, 2000.5]","(2000.5, 2008.75]","(2008.75, 2017.0]"
Make,,,,
AM General,4,0,0,0
ASC Incorporated,1,0,0,0
Acura,37,83,75,107
Alfa Romeo,28,10,0,3
American Motors Corporation,22,0,0,0
...,...,...,...,...
Volkswagen,174,203,337,333
Volvo,156,120,248,193
Wallace Environmental,32,0,0,0
Yugo,8,0,0,0
smart,0,0,2,18

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [81]:
### your code is here
cars_by_year = cars.groupby([pd.cut(cars["Year"], bins = 4)])
cars_by_year["City KPL"].mean()

Year
(1983.967, 1992.25]    7.315214
(1992.25, 2000.5]      7.255331
(2000.5, 2008.75]      7.179592
(2008.75, 2017.0]      8.246256
Name: City KPL, dtype: float64

Which brands are more environment friendly?

In [94]:
### your code is here
cars.groupby("Make")[["CO2 Emission Grams/KM"]].mean().idxmin()

CO2 Emission Grams/KM    Fisker
dtype: object

Does the drivetrain affect fuel consumption?

In [116]:
## Your Code here
cars.groupby("Drivetrain")[["Combined KPL"]].mean().sort_values(by="Combined KPL")

                            Combined KPL
Drivetrain
Part-time 4-Wheel Drive         6.987342
4-Wheel or All-Wheel Drive      7.170998
2-Wheel Drive                   7.293144
Rear-Wheel Drive                7.517523
4-Wheel Drive                   8.128544
All-Wheel Drive                 8.960275
Front-Wheel Drive              10.202852
2-Wheel Drive, Front           12.000000

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [117]:
## Your Code here
cars.groupby("Transmission")[["Combined KPL"]].mean().sort_values(by="Combined KPL")

                                  Combined KPL
Transmission
Automatic (AM6)                       6.000000
Manual 5 spd                          6.000000
Manual 3-spd                          6.351351
Auto(L3)                              6.500000
Auto(L4)                              6.500000
Automatic (A6)                        7.000000
Manual(M7)                            7.333333
Automatic 5-spd                       7.559650
Automatic 4-spd                       7.742749
Auto(AM7)                             7.878981
Manual 4-spd                          7.888208
Automatic 3-spd                       8.141317
Automatic 6-spd                       8.229050
Automatic 8-spd                       8.242798
Automatic (S7)                        8.275862
Automatic 7-spd                       8.441088
Automatic (S5)                        8.474453
Auto(AM-S7)                           8.757812
Automatic (S4)                        8.790393
Manual 7-spd                          8.897059
Auto(AM-S9)                           9.000000
Auto (AV-S8)                          9.000000
Automatic (S6)                        9.025086
Manual 6-spd                          9.041684
Automatic (S8)                        9.142708
Manual 5-spd                          9.236291
Automatic (S9)                        9.807692
Automatic 9-spd                       9.900000
Auto (AV-S6)                         10.000000
Auto(AM8)                            10.200000
Auto(AV-S8)                          10.653846
Automatic (AV-S6)                    10.666667
Automatic (AV)                       10.750000
Automatic 6spd                       11.000000
Auto(AM6)                            11.400000
Auto(AM-S8)                          11.500000
Auto(AM-S6)                          11.663043
Auto(AV-S6)                          11.779310
Automatic (variable gear ratios)     12.248889
Auto(AV-S7)                          12.841270
Automatic (A1)                       14.333333
Automatic (AM5)                      15.000000
Auto(AM5)                            15.000000
Auto (AV)                            16.000000
Auto(A1)                             17.000000

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [126]:
## your code is here
cars.groupby('Model').agg(pd.mean("Combined KPL"), cars["Transmission"].count())

AttributeError: module 'pandas' has no attribute 'mean'

aggregate with average City_Km/Liter and the minimum of the Trans

In [18]:
### your code is here

In [110]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Make                   35952 non-null  object
 1   Model                  35952 non-null  object
 2   Year                   35952 non-null  int64
 3   Engine Displacement    35952 non-null  float64
 4   Cylinders              35952 non-null  float64
 5   Transmission           35952 non-null  object
 6   Drivetrain             35952 non-null  object
 7   Vehicle Class          35952 non-null  object
 8   Fuel Type              35952 non-null  object
 9   Fuel Barrels/Year      35952 non-null  float64
 10  City KPL               35952 non-null  int64
 11  Highway KPL            35952 non-null  int64
 12  Combined KPL           35952 non-null  int64
 13  CO2 Emission Grams/KM  35952 non-null  int64
 14  Fuel Cost/Year         35952 non-null  int64
dtypes: float64(3), int64(6), object(6)
memory usage: 4.1+ MB