## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [51]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [52]:
# Your code here
sample_list_1 = []
for i in range(0, 80):
    while len(set(sample_list_1)) < 80:
        sample_list_1.append(random.randint(0, 101))
    break
sample_list_1

[65,
 47,
 36,
 89,
 60,
 67,
 68,
 46,
 94,
 69,
 43,
 100,
 92,
 92,
 82,
 3,
 32,
 39,
 95,
 8,
 18,
 48,
 88,
 11,
 80,
 4,
 51,
 69,
 95,
 4,
 34,
 30,
 16,
 19,
 90,
 57,
 100,
 59,
 21,
 56,
 68,
 55,
 36,
 72,
 36,
 4,
 9,
 76,
 27,
 50,
 100,
 95,
 47,
 63,
 66,
 52,
 29,
 63,
 78,
 19,
 92,
 1,
 7,
 67,
 17,
 43,
 45,
 39,
 100,
 23,
 97,
 85,
 84,
 97,
 21,
 90,
 16,
 92,
 20,
 84,
 96,
 81,
 90,
 1,
 34,
 81,
 56,
 65,
 74,
 90,
 16,
 18,
 49,
 1,
 69,
 23,
 80,
 75,
 15,
 31,
 93,
 0,
 30,
 8,
 13,
 11,
 65,
 8,
 3,
 80,
 85,
 47,
 98,
 64,
 61,
 100,
 75,
 85,
 60,
 54,
 81,
 96,
 84,
 33,
 3,
 46,
 15,
 16,
 19,
 76,
 97,
 31,
 56,
 89,
 36,
 47,
 53,
 100,
 61,
 40,
 81,
 70,
 2,
 57,
 5,
 93,
 32,
 74,
 69,
 30,
 27,
 19,
 69,
 44,
 46,
 19,
 45,
 26,
 49,
 52,
 97,
 85,
 83,
 26,
 32,
 98,
 80,
 40,
 26,
 95,
 73,
 48,
 79]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [53]:
# Your code here
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [54]:
# Your code here
sample_list_2 = []
for i in range(0, 80):
    while len(sample_list_2) < 80:
        sample_list_2.append(random.randint(0, 101))
    break
sample_list_2

[35,
 71,
 49,
 41,
 83,
 42,
 31,
 67,
 65,
 31,
 76,
 28,
 100,
 60,
 70,
 59,
 57,
 78,
 16,
 26,
 49,
 97,
 20,
 40,
 24,
 42,
 44,
 59,
 26,
 1,
 48,
 7,
 97,
 15,
 84,
 76,
 45,
 98,
 95,
 60,
 18,
 6,
 28,
 45,
 6,
 18,
 76,
 87,
 94,
 61,
 86,
 81,
 6,
 63,
 86,
 67,
 36,
 55,
 11,
 77,
 18,
 68,
 92,
 18,
 37,
 44,
 11,
 40,
 11,
 58,
 43,
 90,
 22,
 50,
 0,
 85,
 41,
 59,
 91,
 43]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [55]:
# Your code here
set2 = set(sample_list_2)
len(set2)

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [56]:
# Your code here
#option 1
set3 = set()
for item in set1:
    if item not in set2:
        set3.add(item)
#option 2       
set3 = set1 - set2
#option3

set3 = set1.difference(set2)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [57]:
# Your code here
set4 = set2 - set1
len(set4)

14

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [58]:
# Your code here
set5 = set1.intersection(set2)
len(set5)

41

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [70]:
# Your code here
a = len(set1)
b = len(set2)
c = len(set3)
d = len(set4)
e = len(set5)
a - (c + e) == b - (d + e)

True

#### Create an empty set called `set6`.

In [67]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [68]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [69]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [72]:
# Your code here
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [73]:
# Your code here
set3.union(set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove an element from `set1`.

In [85]:
# Your code here
q = set1.pop()

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [90]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    if item in set1:
        set1.discard(item)
print(set1)

{4, 5, 7, 8, 13, 15, 16, 17, 18, 20, 23, 26, 27, 30, 32, 33, 34, 36, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}

In [89]:
set1

{4,
 5,
 7,
 8,
 13,
 15,
 16,
 17,
 18,
 20,
 23,
 26,
 27,
 30,
 32,
 33,
 34,
 36,
 39,
 40,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 100}